@font-face {
    font-family: lishu; 
    src: url("../font/lishu.TTF");
    }

::-webkit-scrollbar{
    display:none;
    }


body{
    margin: 0;
    padding: 0;
    overflow: hidden;  
    cursor: url(../image/common/mouse.ico),auto; 
    background-image:url("../image/common/cardBG.png");
}
#back_btn{
	display: none;
}
#head{
    position: absolute;
    top:10px;
    width: 100%;
    height: 55px;
    text-align: center;
    line-height: 55px;
    background-color: #000000 0;  
    z-index: 4;
}

#head p{
    margin: 0;
    font-size: 70px;
    text-shadow:0 4px 2px #fafa32ca;
    color: #fff;
    font-family: lishu;
}

#back{
    position:fixed;
    text-decoration:none;
    top:100px;
    right:20px;
    z-index: 3;
}

#back img{ 
    width: 70px;
    height: 70px;
}

.spCard{
	float:left;
	width:200px;
	margin-top:300px;
	height:280px;
	margin-left:155px;
	/*景深加在哪个元素上，相当于眼睛在该元素的中间的正前方*/
    perspective: 800px;
    transform: rotateY(180deg);
	transform-style: preserve-3d;
    transition: all 1s;
}
.spCard:hover{
	transform: rotateY(0deg);
}

.fa2{
	position: absolute;   
    transform: translateZ(1px);/* 控制距离中心的z轴 */
	width:200px;
	height:280px;
}
.fa1{
	position: relative;
	top:-20px;
	left:-20px;
    transform: translateZ(-1px);
	width:240px;
	height:320px;
}

#cgsp{
	position: absolute;
	left:700px;
}


#conn_btn{
	position:fixed;
	width:100%;
	top:700px;
	z-index:10;
}
.img{
    width: 160px;
    height: 80px;
    position: relative;
    bottom: -110px;
    z-index:5;
    border:solid 3px rgb(0,0,0,0);
    transition:all 0.5;
}
.img:hover{
	border:solid 3px rgb(255,255,240,0.8);
}
#img1{   
    left: 350px;      
}
#img2{
    left: 1250px;
}

#cg1{
    position: absolute;
    top:80px;
    width: 1920px;
    height: 800px;
    text-align: center;
    display: inline-block;
}
#cg1 img{
	position: relative;
	top:90px;
	width:300px;
	height: 400px;
}
#h3{
	position: absolute;
    top:500px;
    width: 1920px;
    height: 800px;
    text-align: center;
}

/* 以下为烟雾文字效果样式 */
#myCanvas {
  z-index: -2;
  /* 控制烟雾文字层次 */
}

span {
  font-size: 100px;
  display: inline-block;
  text-shadow: 0 0 0 #ffffffd3;
  -webkit-animation: smoky 5s 3s both;
          animation: smoky 5s 3s both;
}

.text{
  font-family: "lishu";
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

span:nth-child(even) {
  -webkit-animation-name: smoky-mirror;
          animation-name: smoky-mirror;
}

@-webkit-keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
            transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
            transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
@-webkit-keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
            transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
            transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
span:nth-of-type(1) {
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

span:nth-of-type(2) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

span:nth-of-type(3) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

span:nth-of-type(4) {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}

span:nth-of-type(5) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

span:nth-of-type(6) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

span:nth-of-type(7) {
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}

span:nth-of-type(8) {
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
}

span:nth-of-type(9) {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

span:nth-of-type(10) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

span:nth-of-type(11) {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

span:nth-of-type(12) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

.video { 

  position: fixed; right: 0; bottom: 0;

  min-width: 100%; min-height: 100%;

  width: auto; height: auto; z-index: -100;

  background-size: cover; 

}

